<aside class="side">
  <div class="brand">
    <img class="brand-logo" [src]="logoUrl" alt="logo" />
    <span class="brand-name">{{ appName }}</span>
  </div>

  <div class="menu">
    <ng-container *ngFor="let group of groups() ; let last = last">
      <div class="group-title" *ngIf="group.title">{{ group.title }}</div>

      <nav>
        <a *ngFor="let item of group.items"
           [routerLink]="item.link"
           routerLinkActive="active"
           class="item">
          <span class="left">
            <span class="ico">{{ item.icon }}</span>
            <span class="text">{{ item.label }}</span>
          </span>

          <span class="count" *ngIf="item.notificationCount !== undefined">
            {{ item.notificationCount }}
          </span>
        </a>
      </nav>

      <hr class="divider" *ngIf="!last" />
    </ng-container>
  </div>

  <footer class="foot">© 2025 GeStock Mockup</footer>
</aside>