<div class="auth-header">
    <div class="auth-header-left">
        <div class="logo">
            <span class="logo-circle">G</span>
            <span class="logo-title">eStock</span>
        </div>
    </div>
    <div class="auth-header-right">
        <div class="login-link">
            <!-- Mensaje dinámico según la ruta -->
            <ng-container *ngIf="isLoginPage; else signupMessage">
                ¿No tienes cuenta?
                <a [routerLink]="['/sign-up']">Crear cuenta</a>
            </ng-container>
            <ng-template #signupMessage>
                ¿Ya tienes una cuenta?
                <a [routerLink]="['/login']">Iniciar sesión</a>
            </ng-template>
        </div>
    </div>
</div>