<div class="shell">
  <app-sidebar appName="GeStock"></app-sidebar>
  <main class="content">
    <!-- Topbar -->
    <header class="topbar">
      <button class="icon-btn" aria-label="toggle menu">≡</button>
      @if (header.showSearch()) {
      <input class="search" placeholder="Buscar productos, proveedores..." />
      }


      <!-- acciones Topbar -->
      <nav class="actions">
        @for (a of header.actionsTopbar(); track a.label) {
        <a [routerLink]="a.link || null" (click)="a.onClick?.()" class="btn" [class.primary]="a.variant==='primary'">
          @if (a.icon) {
          <span class="ico">{{a.icon}}</span>
          } {{a.label}}
        </a>
        }
      </nav>
    </header>

    <!-- Breadcrumbs -->
    @if (header.breadcrumbs().length) {
      <div class="breadcrumbs">
        @for (bc of header.breadcrumbs(); track bc.label; let last = $last) {
          <ng-container>
            <!-- Si tiene link, es <a>; si no, texto plano muted -->
            @if (bc.link) {
              <a [routerLink]="bc.link">{{ bc.label }}</a>
            } @else {
              <span class="muted">{{ bc.label }}</span>
            }

            <!-- Separador solo si NO es el último -->
            @if (!last) {
              <span class="sep">/</span>
            }
            
          </ng-container>
        }
      </div>
    }


    <!-- Page title -->
    @if (header.title() || header.actionsTitle().length) {
      <div class="title-row">
        <h2 class="page-title">{{ header.title() }}</h2>

        @if (header.actionsTitle().length) {
          <nav class="actions title-actions">
            @for (a of header.actionsTitle(); track a.label) {
              <a [routerLink]="a.link || null" (click)="a.onClick?.()" class="btn"
                [class.primary]="a.variant==='primary'">
                @if (a.icon) {
                  <span class="ico">{{a.icon}}</span>
                }
                {{a.label}}
              </a>
            }
          </nav>
        }
      </div>
    }

    <!-- Main page content -->
    <section class="page">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>