<div class="register-card">

    <div class="form">
        <label for="name">NOMBRE</label> <app-input-field id="name" placeholder="Nombre" textColor="#174376"
            backgroundColor="#F3F6FA" width="100%" height="40px"></app-input-field>

        <label for="password">CONTRASEÑA</label>
        <app-input-field id="password" placeholder="Contraseña" textColor="#174376" backgroundColor="#F3F6FA"
            width="100%" height="40px"></app-input-field>

        <app-button text="Iniciar Sesión" textColor="white" backgroundColor="#174376" width="100%"
            height="50px"></app-button>
    </div>
</div>