<div class="register-card">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name" (click)="focusField('name')">Nombre:</label>
      <app-input-field
        id="name"
        formControlName="Nombre"
        placeholder="Ingresa tu nombre"
        textColor="#174376"
        backgroundColor="#F3F6FA"
        width="100%"
        height="40px"
      >
      </app-input-field>
      @if (getFieldError('Nombre')) {
      <span class="error-message">{{ getFieldError('Nombre') }}</span>
      }
    </div>

    <div class="form-group">
      <label for="email" (click)="focusField('email')">Email:</label>
      <app-input-field
        id="email"
        formControlName="Email"
        type="email"
        placeholder="Ingresa tu Email"
        textColor="#174376"
        backgroundColor="#F3F6FA"
        width="100%"
        height="40px"
      >
      </app-input-field>
      @if (getFieldError('Email')) {
      <span class="error-message">{{ getFieldError('Email') }}</span>
      }
    </div>

    <div class="form-group">
      <label for="password" (click)="focusField('password')">Contraseña:</label>
      <app-input-field
        id="password"
        formControlName="Contraseña"
        type="password"
        [showPasswordToggle]="true"
        placeholder="Ingresa tu contraseña"
        textColor="#174376"
        backgroundColor="#F3F6FA"
        width="100%"
        height="40px"
      >
      </app-input-field>
      @if (getFieldError('Contraseña')) {
      <span class="error-message">{{ getFieldError('Contraseña') }}</span>
      }
    </div>

    <div class="form-group">
      <label for="confirm-password" (click)="focusField('confirm-password')">Confirmar Contraseña:</label>
      <app-input-field
        id="confirm-password"
        formControlName="Confirmar contraseña"
        type="password"
        [showPasswordToggle]="true"
        placeholder="Confirma tu contraseña"
        textColor="#174376"
        backgroundColor="#F3F6FA"
        width="100%"
        height="40px"
      >
      </app-input-field>
      @if (getFieldError('Confirmar contraseña')) {
      <span class="error-message">{{ getFieldError('Confirmar contraseña') }}</span>
      }
    </div>

    <div class="messages">
      @if (successMessage) {
      <div class="success-message">{{ successMessage }}</div>
      } @if (errorMessage) {
      <div class="error-message">{{ errorMessage }}</div>
      }
    </div>

    <button type="submit" [disabled]="isLoading" class="submit-button">
      {{ isLoading ? 'Registrando...' : 'Registrarse' }}
    </button>
  </form>
</div>
