<div class="register-card">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <app-input-field formControlName="name" placeholder="Ingresa tu nombre" textColor="#174376"
        backgroundColor="#F3F6FA" width="100%" height="40px">
      </app-input-field>
      @if (getFieldError('name')) {
      <span class="error-message">{{ getFieldError('name') }}</span>
      }
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <app-input-field formControlName="email" type="email" placeholder="Ingresa tu email" textColor="#174376"
        backgroundColor="#F3F6FA" width="100%" height="40px">
      </app-input-field>
      @if (getFieldError('email')) {
      <span class="error-message">{{ getFieldError('email') }}</span>
      }
    </div>

    <div class="form-group">
      <label for="password">Contraseña:</label>
      <app-input-field formControlName="password" type="password" [showPasswordToggle]="true"
        placeholder="Ingresa tu contraseña" textColor="#174376" backgroundColor="#F3F6FA" width="100%" height="40px">
      </app-input-field>
      @if (getFieldError('password')) {
      <span class="error-message">{{ getFieldError('password') }}</span>
      }
    </div>

    <div class="form-group">
      <label for="re-password">Confirmar Contraseña:</label>
      <app-input-field formControlName="rePassword" type="password" [showPasswordToggle]="true"
        placeholder="Confirma tu contraseña" textColor="#174376" backgroundColor="#F3F6FA" width="100%" height="40px">
      </app-input-field>
      @if (getFieldError('rePassword')) {
      <span class="error-message">{{ getFieldError('rePassword') }}</span>
      }
    </div>

    <div class="messages">
      @if (successMessage) {
      <div class="success-message">{{ successMessage }}</div>
      } @if (errorMessage) {
      <div class="error-message">{{ errorMessage }}</div>
      }
    </div>

    <button type="submit" [disabled]="isLoading" class="submit-button">
      {{ isLoading ? 'Registrando...' : 'Registrarse' }}
    </button>
  </form>
</div>