/* Importar estilos de ngx-toastr */
@import 'ngx-toastr/toastr';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos base para inputs y forms */
input,
button {
  font-family: inherit;
}

/* Reset de estilos para forms */
form {
  margin: 0;
}

body.modal.opnen {
  overflow: hidden;
}